# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Environment
.env

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/crash.log
terraform/*.tfvars

# Helm
dictionary-chart/charts/
*.tgz